{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card shadow">
        <div class="card-body">
          <h4 class="text-center mb-3">
            <b>
              ¿Olvidaste tu contraseña?
            </b>
          </h4>
          <p class="text-center"><small>Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</small></p>
          
          <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-warning btn-block">Envíame Instrucciones</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}