{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{% if validlink %}
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center mb-3">
            <b>
              Introduzca su nueva Contraseña
            </b>
          </h4>
          
          <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-warning btn-block">Cambiar Contraseña</button>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
  El enlace de restablecimiento de contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.
</div>
{% endif %}
{% endblock %}