{% include 'base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Regístrate</h5>
        <form action="" method="POST">
          {% csrf_token %}

          {% include 'partials/_messages.html' %}
          <!-- User Name -->
          <div class="form-group">
            <input type="text" name="username" placeholder="Nombre de Usuario" id="usernameField" class="form-control mb-3" value="{{fieldValues.username}}" />
          </div>
          <div class="invalid_feedback invalid-feedback" style="display:none"></div>
          <p class="text-sm text-success usernameSuccessOutput"></p>
          <div class="form-group">
            <input type="text" name="first_name" placeholder="Nombre" class="form-control mb-3" value="{{fieldValues.first_name}}" />
          </div>
          <div class="form-group">
            <input type="text" name="last_name" placeholder="Apellidos" class="form-control mb-3" value="{{fieldValues.last_name}}" />
          </div>
          <!-- Email -->
          <div class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control mb-3" value="{{fieldValues.email}}" id="emailField" />
          </div>
          <div class="invalid_feedback invalid-feedback" style="display:none"></div>
          <!-- Password -->
          <div class="form-group">
            <input type="password" name="password" placeholder="Contraseña" class="form-control mb-3" id="passwordField" />
            <!-- <small class="float-end py-3 showPasswordToggle">SHOW</small> -->
          </div>
          <div class="d-grid gap-2">
            <input type="submit" value="Registrarse" class="btn btn-block btn-primary submit-btn" />
          </div>

        </form>
        <div class="container p-2">
          <span class="text-lead lead">¿Tienes una cuenta?</span>
          <a href="{% url 'login' %}">Acceder</a><br>
          <span class="text-lead lead">¿Se te olvidó tu contraseña?</span>
          <a href="{% url 'request-password' %}">Restablecer nuevo</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/register.js' %}"></script>
{% endblock %}