{% include 'base.html' %}
{% load static %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Set your new Password</h5>
        <form action="{%url 'reset-user-password' uidb64 token %}" method="post">  
          {% csrf_token %}           
          {% include 'partials/_messages.html' %}
          <div class="form-group">
            <input type="password" name="password" placeholder="Nueva Contraseña" id="passwordField" class="form-control mb-3" />
          </div>

          <div class="form-group">
            <input type="password" name="password2" placeholder="Confirmar Contraseña" id="passwordField" class="form-control mb-3" />
          </div>
          <div class="d-grid gap-2">
            <input type="submit" value="Cambiar" class="btn btn-block btn-primary submit-btn" />
          </div>
            
        </form>
        <div class="container">
          <span class="text-lead lead"> Have an account?</span> <a href="{% url 'login' %}">Login</a><br>
          <span  class="text-lead lead"> No account?</span> <a href="{% url 'register' %}">Register Here</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}