{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap4 -->
    {% load bootstrap4 %}
    {% load static %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <title>Login & Register with Django</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
  </head>
  <body>
    <nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} navbar-light bg-warning">
      <a class="navbar-brand" href="/">
        Login & Register Django
      </a>

      {% if not request.user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if request.GET.next == '/courier/' %} active {% endif %}">
            <a class="nav-link active" aria-current="page" href="/login/?next={{ request.GET.next }}">
                <b>Login</b>
            </a>
          </li>
          <li class="nav-item {% if request.GET.next == '/courier/' %} active {% endif %}">
            <a class="nav-link active" aria-current="page" href="/register/?next={{ request.GET.next }}">
              Register
            </a>
          </li>
        </ul>
      </div>
      {% else %}
      <form class="form-inline my-2 my-lg-0">
        <span class="mr-4"><strong>{{ request.user.get_full_name|title }}</strong></span>
        <a href="/sign-out" class="btn btn-outline-dark my-2 my-sm-0">Cerrar Sesión</a>
      </form>
      {% endif %}
    </nav>
    
    {% block content %} {% endblock %}

    <!-- Notification -->
    <script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">
    <script>

      function toast(message, type){
        bootoast.toast({
          position: 'rightTop',
          animationDuration: 300,
          message,
          type,
        })
      }

      {% if messages %}

      {% for message in messages %}
      toast('{{ message }}', '{{ message.tags }}');
      {% endfor %}

      {% endif %}

    </script>
  </body>
</html>